<%- model_class = User.new.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => "Managers" %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:sign_in_count) %></th>
      <th><%= model_class.human_attribute_name(:Role) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
        <% @role_user.each do |role_user| %>
      <tr>        
        <td><%= link_to role_user.user.email, '' %></td>
        <td><%= role_user.user.sign_in_count %></td>
        <td><%= role_user.role.name %></td>
        <td>
                      <div class="btn-group">
                <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">Action <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="<%= list_employees_manager_admin_path(role_user.user) %>">Employes</a></li>
                  <li><a href="<%= list_customers_manager_admin_path(role_user.user) %>">Customers</a></li>
                  <li></li>
                  <li class="divider"></li>
                  <li><%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      delete_user_admin_path(role_user.user),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => '' %></li>
                </ul>
              </div>
        </td>
        </td>
      </tr>
    <% end %>
      
  </tbody>
</table>


<%= link_to t('.new', :default => t("helpers.links.new")),
            new_user_registration_path,
            :class => 'btn btn-primary' %>