 <h2>Create New Item</h2>

<%= form_for @item, :url => create_item_admin_index_path, :html => { :class => 'form-horizontal' } do |f| %>
 <%= error_messages_for :item %>
  <div><%= f.label :name %><br />
  <%= f.text_field :name %></div>
<br />


  <div><%= f.submit "Create" %></div>
<% end %>


